<div class="container">
  <!-- <div class="card">
    <div class="card-header">
      <h6>EN VIVO AHORA</h6>
    </div>
    <div class="card-body">
      <ul class="nav nav-tabs" id="deportesEnVivoTab" role="tablist">
        <li class="nav-item">
          <a
            class="nav-link active"
            id="futbol-tab"
            data-toggle="tab"
            href="#futbol"
            role="tab"
            aria-controls="futbol"
            aria-selected="true"
          >
            Fútbol
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link disabled"
            id="tenis-tab"
            data-toggle="tab"
            href="#tenis"
            role="tab"
            aria-controls="tenis"
            aria-selected="false"
          >
            Tenis
          </a>
        </li>
      </ul>
      <div class="tab-content" id="deportesEnVivoTabContent">
        <div
          class="tab-pane fade show active"
          id="futbol"
          role="tabpanel"
          aria-labelledby="futbol-tab"
        >

        </div>
        <div
          class="tab-pane fade"
          id="tenis"
          role="tabpanel"
          aria-labelledby="tenis-tab"
        >
          TODO: TENIS
        </div>
      </div>
    </div>
  </div> -->
  <div class="card">
    <div class="card-header">
      <h6>DESTACADOS</h6>
    </div>
    <div class="card-body">
      <ul class="nav nav-tabs" id="deportesEnVivoTab" role="tablist">
        <li class="nav-item">
          <a
            class="nav-link active"
            id="futbol-tab"
            data-toggle="tab"
            href="#futbol"
            role="tab"
            aria-controls="futbol"
            aria-selected="true"
          >
            Fútbol
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link disabled"
            id="tenis-tab"
            data-toggle="tab"
            href="#tenis"
            role="tab"
            aria-controls="tenis"
            aria-selected="false"
          >
            Tenis
          </a>
        </li>
      </ul>
      <div class="tab-content" id="deportesEnVivoTabContent">
        <div
          class="tab-pane fade show active"
          id="futbol"
          role="tabpanel"
          aria-labelledby="futbol-tab"
        >
          <div class="row">
            <div class="col-sm-6 align-self-center">
              DD/MM/YYYY - HH:MM Nombre Liga
              <div class="row">
                <div class="col">Local</div>
                <div class="col">VS:</div>
                <div class="col">Visitante</div>
              </div>
            </div>
            <div class="col-sm-6 align-self-center text-center">
              <div class="row">
                <div class="col">#.##</div>
                <div class="col">#.##</div>
                <div class="col">#.##</div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="tenis"
          role="tabpanel"
          aria-labelledby="tenis-tab"
        >
          <!-- TODO: TENIS  -->
        </div>
      </div>
    </div>
  </div>
</div>
